{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MRS. ROPERS KAFKANS!</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" >
    </head>
    <body>
         <!-- navbar -->
    <nav class="navbar has-shadow is-white">
        {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <p><a href="{% url 'logout' %}">Log Out</a></p>
      {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a> |
        <a href="{% url 'signup' %}">Sign Up</a>
      {% endif %}
      
        
        <!--logo / brand  -->
         <div class="navbar-brand">
            <a class="navbar-item">
                <img src="/static/assets/MrsRopersKafkanslogo.png" alt="site logo"  style="max-height: 300px"  class="py-3 px-3">
            </a>
            <a class="navbar-burger">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </div>

          <div class="navbar-menu is-active" id="nav-links">
            <div class="navbar-end">
              <a class="navbar-item">My Account</a>
              <a class="navbar-item">Shopping Cart (0)</a>
          </div>
    </nav> 

  <!-- breadcrumbs -->
  <div class="section pt-4 pb-10">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul class="container is-size">
        <li><a class="has-text-grey">Mrs.Ropers Kafkans</a></li>
        <li><a class="has-text-grey">Shop</a></li>
        <li class="is-active"><a href="#">Kafkans</a></li>
        <!-- <li class="is-active"><a href="#" aria-current="page">Kafkans</a></li> -->
      </ul>
    </nav> 
  </div>
  
  {% block content %}


  {% endblock %} 


   

  <!-- footer -->
  <footer class="class">
    <div class="content has-text-centered">
      <p>Copyright 2021 Mrs.Ropers Kafkans</p>
      </div>
  </footer>

<script src="/static/assets/index.js"></script>
</body>
</html>
        


      
      </main>

</body>
</html>



