{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a> |
  <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}

<div class="kafkan-list">
  {% for kafkan in kafkans %}
      <article class="kafkan">
          <h2><a href="{% url 'kafkan_detail' pk=kafkan.pk %}">{{ kafkan.name }}</a></h2>
            
            <p>{{ kafkan.size }}</p> 
            <p>{{ kafkan.price }}</p>  
            <p>{{ kafkan.color }}</p>      
            <p>{{ kafkan.material }}</p> 
            <p>{{ kafkan.name }}</p> 
           
            <img src="{% static 'static/assets/' %}"></img>
          
          <a class="btn btn-kafkan" href="{% url 'kafkan_edit' pk=kafkan.pk %}">
          </a>
          <br>
          
      </article>
  {% endfor %}
  
</div>

{% endblock %}

