{% extends 'base.html' %}

{% load static %}


{% block content %}

    <div class="kafkan-detail">
    
   
        <article class="kafkan">
            <h2>{{ kafkan.name }}</h2>
              
              <p>{{ kafkan.size }}</p> 
              <p>{{ kafkan.price }}</p>  
              <p>{{ kafkan.color }}</p>      
              <p>{{ kafkan.material }}</p> 
              <p>{{ kafkan.name }}</p> 

              {% if kafkan.image %}
              <img src="{% static kafkan.image.url %}"></img>
              {% endif %}
            
            <a class="btn btn-kafkan" >
            </a><br>
            
        </article>
    
    
</div>

{% endblock %}